@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --color-amarelo-1: #f8e44b;
}

body {
  list-style: none;
  text-decoration: none;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #091c25;
  color: #fff;
  padding: 30px 0px;
}
.container .home-container {
  width: 100%;
  margin: auto;
}
.container .home-container .element-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 100%;
  padding: 49px;
}
.container .home-container .element-flex .conteudo-maior {
  flex-basis: 70%;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 2px 3px 1px #fff;
}
.container .home-container .element-flex .conteudo-maior .block {
  display: flex;
  flex-direction: column;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 3px 1px #fff;
  position: relative;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 10px;
  background-color: transparent;
  position: relative;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: auto;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
  font-size: 25px;
  font-weight: 300;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
  font-size: 20px;
  font-weight: 300;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .top a {
  position: absolute;
  color: #fff;
  right: 15px;
  top: 15px;
  font-size: 35px;
  transition: all 1s;
  cursor: pointer;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .top a:hover {
  color: #740807;
  transition: all 2s;
  animation: translateY 2s alternate infinite;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem {
  background-color: #B62E2C;
  display: flex;
  flex-direction: row;
  padding: 10px 0px 10px 0px;
  gap: 10px;
  position: relative;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .espaco_foto {
  width: 27%;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 25px;
  align-items: end;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  color: #F5F5DC;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem i {
  font-size: 25px;
  padding: auto;
  color: #F5F5DC;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem p {
  font-size: 25px;
  font-weight: 600;
  margin-top: -2px;
  color: #004d40;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px 5px;
  position: absolute;
  left: 50px;
  top: 50px;
}
.container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000;
  justify-content: center;
}
.container .home-container .element-flex .conteudo-maior .flex-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  padding: 30px 10px;
  margin-top: -30px;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .conteudo {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 25px;
  align-items: center;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .conteudo h2 {
  font-size: 31px;
  color: #00d084;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .conteudo p {
  text-align: justify;
  font-size: 15px;
  font-weight: 100;
  color: #fff;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .conteudo p strong {
  color: darkgoldenrod;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .conteudo p b {
  color: #B62E2C;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .img {
  max-width: 40%;
  display: flex;
  margin: auto 0;
  justify-content: center;
  border-radius: 5px;
}
.container .home-container .element-flex .conteudo-maior .flex-3 .img img {
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  background-color: #737373;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 2px 2px 4px 2px #fff;
}
.container .home-container .element-flex .conteudo-maior .flex-4 {
  width: 100%;
  background-color: transparent;
  display: flex;
  margin-top: -10px;
}
.container .home-container .element-flex .conteudo-maior .flex-4 .rolagem {
  padding: 10px 0;
}
.container .home-container .element-flex .conteudo-maior .flex-4 .rolagem .rolagem-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: -moz-max-content;
  width: max-content;
  animation: scrollinfinite 10s linear infinite;
}
.container .home-container .element-flex .conteudo-maior .flex-4 .rolagem .rolagem-items .items {
  display: flex;
  padding: 5px 18px;
  color: #F5F5DC;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 2px 3px 1px #fff;
  align-items: center;
}
.container .home-container .element-flex .conteudo-maior .flex-4 .rolagem .rolagem-items .items p {
  font-size: 20px;
  justify-content: center;
  margin: auto;
  color: #F5F5DC;
}
.container .home-container .element-flex .conteudo-maior .flex-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-basis: 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.container .home-container .element-flex .conteudo-maior .flex-5 h1 {
  font-size: 35px;
  font-weight: 300;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: right;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex .card {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, #000, #535353);
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px #fff;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex .card .mais-ceta {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 200px;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex .card .mais-ceta button {
  border: none;
  background-color: transparent;
  color: #F5F5DC;
  font-size: 25px;
  cursor: pointer;
  transition: all 1s;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex .card .mais-ceta button:hover {
  color: #f69b60;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex .card .mais-ceta h2 {
  font-size: 20px;
  text-align: center;
  color: #F5F5DC;
}
.container .home-container .element-flex .conteudo-maior .flex-5 .flex .card p {
  font-size: 12px;
  font-weight: 500;
  color: #F5F5DC;
  display: none;
}
.container .home-container .element-flex .projetos-contatos {
  flex-basis: 25%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
}
.container .home-container .element-flex .projetos-contatos .block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .home-container .element-flex .projetos-contatos .block .texto {
  width: 100%;
  background-color: transparent;
  padding: 15px 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px #fff;
}
.container .home-container .element-flex .projetos-contatos .block .texto h2 {
  font-size: 15px;
}
.container .home-container .element-flex .projetos-contatos .block .contatos {
  width: 99%;
  background-color: transparent;
  border-radius: 5px;
}
.container .home-container .element-flex .projetos-contatos .block .contatos .flex-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 0;
  box-shadow: 1px 2px 3px 1px #fff;
}
.container .home-container .element-flex .projetos-contatos .block .contatos .flex-1 p {
  font-size: 14px;
  color: #5ce1e6;
  margin-top: -1px;
}
.container .home-container .element-flex .projetos-contatos .block .contatos .flex-1 .ceta {
  font-size: 25px;
  color: #fff;
}
.container .home-container .element-flex .projetos-contatos .block .contatos .flex-1 i {
  font-size: 25px;
}
.container .home-container .element-flex .projetos-contatos .block .slide {
  position: relative;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider {
  overflow: hidden;
  width: 310px;
  border-radius: 5px;
  scroll-behavior: smooth;
  box-shadow: 1px 2px 2px 1px #fff;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 340px;
  background-color: transparent;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 1px 2px 3px 1px #fff;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card .carrossel {
  box-shadow: 1px 1px 1px red;
  width: 310px;
  height: 160px;
  overflow: hidden;
  margin-top: -30px;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card .carrossel .container {
  display: flex;
  flex-direction: row;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card .carrossel .container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card .competencia {
  display: flex;
  flex-direction: row;
  background-color: #004d40;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card .competencia img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card h2 {
  color: #fff;
  padding-top: 10px;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card p {
  color: #fff;
  padding-bottom: 10px;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #740807;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transition: all 1s;
  cursor: pointer;
  font-size: 25px;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider button:first-of-type {
  left: 0;
  transform: translate(-10%, -70%);
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider button:last-of-type {
  right: 0;
  transform: translate(10%, -70%);
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider button:hover {
  background-color: #535353;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .length-dots {
  position: absolute;
  left: 25%;
  bottom: 0;
  transform: translate(50%, 200%);
  display: flex;
  gap: 10px;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .length-dots .dot {
  display: inline-block;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.container .home-container .element-flex .projetos-contatos .block .slide .slider .length-dots .dot.current {
  background-color: #B62E2C;
}
.container .home-container .element-flex .projetos-contatos .block .imgs-projetos {
  width: 100%;
  height: 100%;
}
.container .projetos {
  display: flex;
  flex-direction: column;
  background: darkgoldenrod;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 30px 150px;
}
.container .projetos .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
  gap: 30px;
}
.container .projetos .text hr {
  width: 50%;
  height: 3px;
  background: #fff;
  border: none;
}
.container .projetos .text h1 {
  font-size: 40px;
  color: #fff;
}
.container .projetos .slide {
  position: relative;
  padding: 15px;
}
.container .projetos .slide .slider2 {
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  scroll-behavior: smooth;
}
.container .projetos .slide .slider2 .context2 {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
}
.container .projetos .slide .slider2 .context2 .card {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 410px;
  background-color: transparent;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.container .projetos .slide .slider2 .context2 .card .carrossel {
  box-shadow: 1px 1px 1px #091c25;
  width: 310px;
  height: 160px;
  overflow: hidden;
  margin-top: -30px;
}
.container .projetos .slide .slider2 .context2 .card .carrossel .container {
  display: flex;
  flex-direction: row;
  transition: transform 0.7s ease-in-out;
  transform: translateX(0);
}
.container .projetos .slide .slider2 .context2 .card .carrossel .container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.container .projetos .slide .slider2 .context2 .card .competencia {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 80px;
}
.container .projetos .slide .slider2 .context2 .card .competencia img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container .projetos .slide .slider2 .context2 .card h2 {
  color: #fff;
  padding-top: 10px;
  margin-bottom: 15px;
}
.container .projetos .slide .slider2 .context2 .card p {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.container .projetos .slide .slider2 .context2 .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .projetos .slide .slider2 button {
  display: flex;
  width: 50px;
  height: 50px;
  color: #740807;
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  transition: all 1s;
}
.container .projetos .slide .slider2 button:first-of-type {
  left: 0;
  transform: translate(-90%, -50%);
}
.container .projetos .slide .slider2 button:last-of-type {
  right: 0;
  transform: translate(90%, -50%);
}
.container .projetos .slide .slider2 button:hover {
  transition: all 1s;
  border: 1px solid #091c25;
}
.container #perguntas-frequentes {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #091c25;
}
.container #perguntas-frequentes .flex-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 150px;
  flex-basis: 100%;
  text-align: center;
  align-items: center;
  background-color: transparent;
}
.container #perguntas-frequentes .flex-5 .title-perguntas {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container #perguntas-frequentes .flex-5 .title-perguntas .text {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
.container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border: none;
}
.container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}
.container #perguntas-frequentes .flex-5 .title-perguntas .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  gap: 5px;
  margin-top: -40px;
}
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  width: 100px;
  height: 100px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  animation: Scale 1s alternate infinite;
}
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 i,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 p,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1 i,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1 p,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon i,
.container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon p {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
@keyframes Scale {
  to {
    transform: scale(0.8);
  }
  from {
    transform: scale(0.9);
  }
}
.container #perguntas-frequentes .flex-5 .block-2 .flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px 5px;
  border-radius: 5px;
  background-color: transparent;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  border: 1px solid #fff;
  align-items: center;
  cursor: pointer;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 1s;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button:hover {
  color: #19D16A;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  justify-content: center;
  font-size: "roboto";
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card .card-mais {
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais,
.container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais1,
.container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais2 {
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  text-align: justify;
  padding: 0px 20px;
  margin-top: 20px;
}
.container #perguntas-frequentes .flex-5 .block-2 .flex .card .ativo {
  height: 130px;
  transition: all 0.4s;
}
.container .footer {
  background: darkgoldenrod;
}
.container .footer .bottom {
  padding-bottom: 30px;
}
.container .footer .bottom .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 10px;
  position: relative;
  color: #fff;
  justify-content: center;
  text-align: left;
}
.container .footer .bottom .top .flex-2 h1 {
  font-size: 20px;
  font-weight: 200;
}
.container .footer .bottom .top .flex-2 h2 {
  font-size: 20px;
  font-weight: 200;
}
.container .footer .bottom .rolagem {
  padding: 0 180px;
}
.container .footer .bottom .rolagem .tela-rolagem {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background: transparent;
  gap: 30px;
}
.container .footer .bottom .rolagem .tela-rolagem .contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container .footer .bottom .rolagem .tela-rolagem .contato hr {
  width: 50%;
  height: 3px;
  background-color: #fff;
  border: none;
}
.container .footer .bottom .rolagem .tela-rolagem .contato h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
}
.container .footer .bottom .rolagem .tela-rolagem h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.container .footer .bottom .rolagem .tela-rolagem .icons {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.container .footer .bottom .rolagem .tela-rolagem .icons a {
  text-decoration: none;
  display: flex;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  transition: all 1s;
  background-color: #091c25;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}
.container .footer .bottom .rolagem .tela-rolagem .icons a:hover {
  animation: translateY 2s alternate infinite;
  color: #740807;
}
.container .footer .copy {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
}
.container .footer .copy hr {
  width: 300px;
  height: 2px;
  border: none;
  background-color: #fff;
  align-items: center;
  margin: 20px 0px;
}
.container .footer .copy p {
  font-size: 12px;
  color: #fff;
}
@keyframes translateY {
  to {
    transform: translateY(0px) scale(1);
  }
  from {
    transform: translateY(-8px) scale(1.1);
  }
}
@keyframes scrollinfinite {
  to {
    translate: calc(-50% - 10px);
  }
}

.btn-padrao {
  padding: 9px 20px;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 1s;
  margin-bottom: 5px;
  transition: all 1s;
}

.btn-padrao:hover {
  transition: all 1s;
  border-color: #740807;
}

@media screen and (max-width: 1300px) {
  .container .home-container .element-flex {
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }
  .container .home-container .element-flex .conteudo-maior {
    align-items: center;
  }
  .container .home-container .element-flex .projetos-contatos {
    align-items: center;
    width: 100%;
  }
  .container .home-container .element-flex .projetos-contatos .block {
    align-items: center;
  }
  .container .home-container .element-flex .projetos-contatos .block .texto {
    width: 90%;
  }
  .container .home-container .element-flex .projetos-contatos .block .texto h2 {
    font-size: 13px;
  }
  .container .home-container .element-flex .projetos-contatos .block .contatos {
    width: 90%;
  }
  .container .home-container .element-flex .projetos-contatos .block .slide .slider .context .card p {
    font-size: 14px;
  }
  .container .projetos {
    display: none;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .ativo {
    height: 215px;
  }
  .container .footer .bottom .rolagem {
    padding: 10px 100px;
  }
}
@media screen and (max-width: 836px) {
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    left: 20px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    text-align: center;
    font-size: 20px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .img img {
    width: 150px;
    height: 150px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    height: 150px;
    width: 150px;
    left: 10px;
    top: 60px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
    height: 140px;
    width: 140px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
    font-size: 23px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
    font-size: 18px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
    gap: 10px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
    font-size: 18px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo h2 {
    font-size: 28px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    white-space: nowrap;
    text-align: center;
    font-size: 19px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo a {
    font-size: 22px;
  }
  .container #perguntas-frequentes .flex-5 {
    padding: 50px 50px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas {
    align-items: center;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
    font-size: 20px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .icons .icon, .container #perguntas-frequentes .flex-5 .title-perguntas .icons .icon1, .container #perguntas-frequentes .flex-5 .title-perguntas .icons .icon2 {
    font-size: 20px;
    height: 90px;
    width: 90px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
    font-size: 16px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
    font-size: 18px;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato hr {
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato h2 {
    font-size: 23px;
  }
}
@media screen and (max-width: 653px) {
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    height: 120px;
    width: 120px;
    left: 10px;
    top: 80px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
    height: 110px;
    width: 110px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
    font-size: 20px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
    font-size: 16px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
    display: none;
    gap: 30px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
    font-size: 13px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .itens {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo h2 {
    font-size: 25px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    text-align: center;
    font-size: 15px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo a {
    font-size: 18px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .img {
    display: none;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas {
    align-items: center;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
    font-size: 17px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 {
    font-size: 18px;
    height: 80px;
    width: 80px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
    font-size: 11px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
    font-size: 12px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais1, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais2 {
    font-size: 11px;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato hr {
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 555px) {
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    height: 100px;
    width: 100px;
    left: 10px;
    top: 80px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
    height: 90px;
    width: 90px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
    font-size: 18px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
    font-size: 14px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
    display: none;
    gap: 30px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
    font-size: 13px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .itens {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo h2 {
    font-size: 23px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    text-align: center;
    font-size: 14px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo a {
    font-size: 16px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .img {
    display: none;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text {
    justify-content: center;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
    display: none;
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
    align-items: center;
    font-size: 17px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 {
    display: none;
    font-size: 16px;
    height: 60px;
    width: 60px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
    font-size: 11px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
    font-size: 12px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais1, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais2 {
    font-size: 11px;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato hr {
    display: none;
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .container .home-container .element-flex .conteudo-maior {
    width: 100%;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    height: 90px;
    width: 90px;
    left: 10px;
    top: 80px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
    height: 80px;
    width: 80px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
    font-size: 16px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
    font-size: 12px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
    display: none;
    gap: 30px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
    font-size: 13px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .itens {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo h2 {
    font-size: 20px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    text-align: center;
    font-size: 12px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo a {
    font-size: 14px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .img {
    display: none;
  }
  .container .home-container .element-flex .projetos-contatos {
    padding: 10px;
  }
  .container #perguntas-frequentes {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text {
    justify-content: center;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
    display: none;
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
    align-items: center;
    font-size: 15px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 {
    font-size: 12px;
    height: 50px;
    width: 50px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
    font-size: 10px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
    font-size: 10px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais1, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais2 {
    font-size: 10px;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato hr {
    display: none;
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .container .home-container .element-flex .conteudo-maior {
    width: 100%;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    height: 80px;
    width: 80px;
    left: 10px;
    top: 80px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
    height: 70px;
    width: 70px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
    font-size: 15px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
    font-size: 11px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
    display: none;
    gap: 30px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
    font-size: 13px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .itens {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 {
    width: 100%;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo {
    width: 100%;
    padding: 10px 5px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo h2 {
    font-size: 18px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    text-align: center;
    font-size: 11px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo a {
    font-size: 12px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .img {
    display: none;
  }
  .container .home-container .element-flex .projetos-contatos {
    padding: 10px;
  }
  .container #perguntas-frequentes {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text {
    justify-content: center;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
    display: none;
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
    align-items: center;
    font-size: 15px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 {
    font-size: 12px;
    height: 50px;
    width: 50px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
    font-size: 10px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
    font-size: 10px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais1, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais2 {
    font-size: 10px;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato hr {
    display: none;
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .container .home-container .element-flex .conteudo-maior {
    width: 100%;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil {
    height: 70px;
    width: 70px;
    left: 10px;
    top: 80px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .foto-perfil .foto {
    height: 60px;
    width: 60px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h1 {
    font-size: 14px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .top .flex-2 h2 {
    font-size: 10px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem {
    display: none;
    gap: 30px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .items-fora p {
    font-size: 13px;
  }
  .container .home-container .element-flex .conteudo-maior .block .coluna-1 .rolagem .tela-rolagem .itens {
    display: none;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 {
    width: 100%;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo {
    width: 100%;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo h2 {
    font-size: 16px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo p {
    white-space: nowrap;
    text-align: center;
    font-size: 10px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .conteudo a {
    font-size: 12px;
  }
  .container .home-container .element-flex .conteudo-maior .block .flex-3 .img {
    display: none;
  }
  .container .home-container .element-flex .projetos-contatos {
    padding: 10px;
  }
  .container #perguntas-frequentes {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text {
    justify-content: center;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text hr {
    display: none;
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .text h1 {
    align-items: center;
    font-size: 15px;
  }
  .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon1, .container #perguntas-frequentes .flex-5 .title-perguntas .icons #icon2 {
    font-size: 12px;
    height: 50px;
    width: 50px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card {
    width: 100%;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta h2 {
    font-size: 10px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card .mais-ceta button {
    font-size: 10px;
  }
  .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais1, .container #perguntas-frequentes .flex-5 .block-2 .flex .card #mais2 {
    font-size: 10px;
  }
  .container .footer {
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato hr {
    display: none;
    width: 100%;
  }
  .container .footer .bottom .rolagem .tela-rolagem .contato h2 {
    font-size: 16px;
  }
  .container .footer .copy p {
    font-size: 7px;
  }
}/*# sourceMappingURL=reforma_style.css.map */